<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.png">
    <title>TeX | Home</title>
    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{asset('web/bundles/backend/css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('web/bundles/backend/css/theme.css')}}" rel="stylesheet">
    <link href="{{asset('web/bundles/backend/css/bootstrap-reset.css')}}" rel="stylesheet">
    <!--external css-->
    <link href="{{asset('web/bundles/backend/css/font-awesome.css')}}" rel="stylesheet" />
    <link href="{{asset('web/bundles/backend/css/flexslider.css')}}" rel="stylesheet"/>
    <link href="{{asset('web/bundles/backend/assets/bxslider/jquery.bxslider.css')}}" rel="stylesheet" />
    <link href="{{asset('web/bundles/backend/assets/fancybox/source/jquery.fancybox.css')}}" rel="stylesheet" />
    <link href="{{asset('web/bundles/backend/assets/revolution_slider/css/rs-style.css')}}" rel="stylesheet" media="screen">
    <link href="{{asset('web/bundles/backend/assets/revolution_slider/rs-plugin/css/settings.css')}}" rel="stylesheet" media="screen">
    <!-- Custom styles for this template -->
    <link href="{{asset('web/bundles/backend/css/style-index.css')}}" rel="stylesheet">
    <link href="{{asset('web/bundles/backend/css/style-responsive.css')}}" rel="stylesheet" />
    {% endblock %}
</head>
<body class="index">
{% block bodyIndex %}

{% endblock %}
</body>
